body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    /* background: black; */
    background: linear-gradient(90deg, rgba(0,41,69,1) 6%, rgba(53,0,56) 29%, rgba(7,33,71,1) 84%);
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 50px;
}
.frame{
    width: 500px;
    height: 500px;
    position: absolute;
    border-radius: 50px;
    border: 5px #087be6 solid;
    box-shadow: 0px 0px 20px #055c72,
    inset 0px 0px 20px #055c72,
    0px 0px 60px #ff00c8,
    inset 0px 0px 60px #ff00c8;
    filter: brightness(1.5) contrast(2);
    animation: infinity 3s ease-out infinite;
    z-index: 2;
}

.frame:nth-child(1){
    transform: rotate(40deg) translateY(0px) translateZ(0px);
    opacity: 1.00;
    animation-delay: 0.1s;
}
.frame:nth-child(2){
    transform: rotate(40deg) translateY(50px) translateZ(-10px);
    opacity: 0.875;
    animation-delay: 0.3s;
}
.frame:nth-child(3){
    transform: rotate(40deg) translateY(100px) translateZ(-20px);
    opacity: 0.75;
    animation-delay: 0.5s;
}
.frame:nth-child(4){
    transform: rotate(40deg) translateY(150px) translateZ(-30px);
    opacity: 0.625;
    animation-delay: 0.7s;
}
.frame:nth-child(5){
    transform: rotate(40deg) translateY(200px) translateZ(-40px);
    opacity: 0.5;
    animation-delay: 0.9s;
}
.frame:nth-child(6){
    transform: rotate(40deg) translateY(250px) translateZ(-50px);
    opacity: 0.375;
    animation-delay: 1.1s;
}
.frame:nth-child(7){
    transform: rotate(40deg) translateY(300px) translateZ(-60px);
    opacity: 0.25;
    animation-delay: 1.3s;
}
.frame:nth-child(8){
    transform: rotate(40deg) translateY(350px) translateZ(-70px);
    opacity: 0.125;
    animation-delay: 1.5s;
}
@keyframes infinity{
    0% {filter: brightness(2.5) contrast(3);}
    50% {filter: brightness(1.5) contrast(2);}
    100% {filter: brightness(1.5) contrast(3);}
}

section{
    background-color: rgba(255,255,255,0.4);
    border: 1px solid rgba(255,255,255,0.25);
    width: 1366px;
    height: 500px;
    margin-left: 1px;
    border-radius: 10px;
    z-index: 999;
    margin-top: -50px;
    
}
img{
    z-index: 999;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.nav-item{
    margin-left: 130px;
}

nav{
    position: fixed;
    z-index: 999;
}
.intro{
    position: absolute;
    top: 50%;
    right: 40%;
    transform: translateY(-50%);
}
.changingText::before{
    content: '';
    color: white;
    animation: animate infinite 8s;
}
@keyframes animate{
    0%{ content: 'Full Stack';}
    70%{ content: 'Back-end';}
    100%{ content: 'Front-end';}
}
.intro1{
    display: inline-block;
    margin-left: 450px;
}