#body{
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    background-color: black;
    animation: transitionIn 1s;
}
@keyframes transitionIn{
    from{
        opacity:0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

#main{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}
#box1{
    width: 630px;
    height: 600px;
    background-image: url('images/profilepic2.jpg');
    position: absolute;
    bottom: -100%;
    left: 30%;
    animation: anim 2s forwards, anim2 3s forwards 3s ;
}

#box1::after{
    content: '';
    position: absolute;
    width: 630px;
    height: 600px;
    background-image: url('images/logohp.JPG');
    left: 0px;
    z-index: -1;
}
@keyframes anim{
    from{
        bottom: -100%;
    }
    to{
        bottom: 0%;
    }
}
@keyframes anim2{
    from{
        left: 30%;
        width: 530px;
    }
    to{
        width: 0px;
        left: 50%;
    }
}
#box2{
    width: auto;
    height: auto;

    color: white;
    font-size: 10em;
    font-weight: 500;
    line-height: 130px;
    position: absolute;
    top: 100px;
    left: 100px;
    overflow: hidden;
}
#text{
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 3s;

}
@keyframes anim3{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

@media only screen and (max-width: 425px)
{
    #box2{
        font-size: 2em;
        line-height: 50px;
    }
    #box1{
        width: 330px;
        height: 300px;
        background-image: url('images/smpp.JPG');
        animation: anim 2s forwards, anim2 3s forwards 3s;
        background-position: -20px -10px center;
        margin-top: 70px;
        margin-left: -35px;
        margin-right: 50px;
        background-repeat: no-repeat;

    }
    #box1::after{
        background-image: url('images/smlogohp.JPG');
        background-repeat: no-repeat;
        background-position: -20px -10px center;
        margin-top: 70px;
        margin-left: -35px;
        margin-right: 50px;
    }
    .about-img{
        position: absolute;
        top: 160px;
    }
    .about{
        z-index: 999;
    }
    
   
}

@media only screen and (min-width:426px) and (max-width: 769px)
{
    #box2{
        font-size: 5em;
        line-height: 90px;
    }
    #box1::after{
        margin-left: -250px;
    }
    .about-img{
        position: absolute;
        
        top: 120px;
        
    }
    .about{
        z-index: 999;
    }
}


@keyframes anim4{
    from{
        top: 100%;

    }
    to{
        top: 0%;
    }
}


.profilepic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.nav-item{
    margin-left: 110px;
}

nav{
    position: fixed;
    width: 100vw;
    z-index: 999;
}

.changingText::before{
    content: '';
    color: #0077b5;
    animation: animate infinite 8s;
}
@keyframes animate{
    0%{ content: 'Full Stack'; }
    50%{ content: 'Back-end'; }
    100%{ content: 'Front-end';}
    
}
.intro1{
    display: inline-block;
    margin-left: 450px;
}

.intro{
    color: white;
}
.clearfix{
    margin-top: 30px;
    width: auto;
    background: black;
    
}
#card
{
   
    background: transparent;
}

.card-body{
    color: white;
}

#linkedin{
    margin-top: 30px;
    transform: scale(2.5);
}
#linkedin:hover{
    color: #0077b5;
    cursor: pointer;
    transform: scale(4.5);
}
#homeSection{
    
    width: 100vw;
    height: 100vh;
    
}
.wrapper{
    margin-top: 130px;
    animation: fadeout 4s;
}

@keyframes fadeout{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#education{
    width: 100vw;
    height: 100vh;

}
.wrapper1{
    margin-top: 100px;
    
}
.card{
    height: 300px;
    
}
.uni-card{
    color: black;
}
.edu-body{
    margin-top: 40px;
    justify-content: center;
    

}

.edu{
    text-align: center;
    color: white;
    
}
.edu-card{
    transition: all 0.5s ease-in-out;

}
.edu-card:hover{
    background-color: rgb(41, 180, 111);
    transform: scale(0.9);
}
.bottom-bar{
    margin-top: 30px;
}

.skills{
    text-align: center;
    color: white;
    
}
.html{
    color: black;
    text-align: center;
}

.skills-card{
    height: 380px;
}

#skills{
    width: 100vw;
    height: 100vh;

}
.wrapper2{
    margin-top: 55px;
}
#projects{
    width: 100vw;
    height: 100vh;

}

.wrapper3{
    margin-top: 80px;
}

.projects{
    color: white;
    text-align: center;
}
.proj-card:hover{
    background-color: #ffc107;
    transition: all 0.5s ease-in-out;
    transform: scale(0.9);
}
#connect{
    width: 100vw;
    height: 100vh;

}
.connect{
    color: white;
    text-align: center;
}

.proj{
    margin: 10px;
}
.wrapper4{
    margin-top: 100px;
}

.connectcard{
    display: inline-block;
}

.connectfields{
    color: black;
}
#email{
    color: orange;
    
    transform: scale(4.5);
}
#email:hover{
    transform: scale(6.5);
}

#github{
    transform: scale(4.5);
    color: black;
}
#github:hover{
    transform: scale(6.5);
}
#linkedIn{
    transform: scale(4.5);
    color: #0077b5;
}
#linkedIn:hover{
    transform: scale(6.5);
}
.social:hover {
    transform: scale(0.9);
}
#ln:hover{
    color: #0077b5;
}
.icon{
    margin: 60px 230px;
    
}

.bar{
    margin-top: -10px;
}
.project-topic{
    color: white;
}
#git{
    
   
    transform: scale(3.5);
}
#git:hover{
    transform: scale(5.5);
}
.social{
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: all 0.5s ease-in-out;
}

.grp{
    background: black;
}

.about{
    width: 100vw;
    text-align: center;
    background-color: black;
    position: fixed;
    margin-top: 50px;    
   
}

.about-img
{
    margin-top: 45px;
}
.about-body{
    margin-top: 20px;
}